@{
    Layout = "~/Views/Shared/_AccountProfileLayout.cshtml";
}


<div class="product-boards col-12 col-lg-10 pt-4 mb-3 mb-md-5">
    <div class="row justify-content-center pt-5">
        <div class="col-12 col-lg-11">
            <div class="row">
                <div class="col d-flex justify-content-between align-items-center">
                    <h2 class="heading-2 py-3">Product Boards</h2>
                    <button type="button" class="btn btn-secondary btn-black-text letter-spacing-normal"
                            data-toggle="modal" data-target="#createNewBoardModal" aria-pressed="false" autocomplete="off">
                        Add Board
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="product-board-card col-12 col-md-6 col-lg-4 ">
                    <div class="card border-0">
                        <div class="card-body pl-0">
                            <div class="image-grid-wrapper">
                                <div class="image-grid">
                                    <img src="https://images.unsplash.com/photo-1541233349642-6e425fe6190e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                         alt="...">
                                    <img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                         alt="...">
                                    <img src="https://images.homedepot-static.com/productImages/0de025d3-b6a7-415f-b3fd-d58d69a6cd9e/svn/vintage-chic-marazzi-porcelain-tile-ulrw624hd1pr-64_1000.jpg"
                                         alt="...">
                                    <img src="https://embed.widencdn.net/img/shawfloors/ifcmlgmddh/1024px/V0836_00166_CROP.jpg"
                                         alt="...">
                                    <img src="https://s3-production.bobvila.com/articles/wp-content/uploads/2018/03/wood-floors.jpg"
                                         alt="...">
                                    <img src="https://images.unsplash.com/photo-1547044479-59ce6c0a784a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                         alt="...">
                                    <img src="https://images.unsplash.com/photo-1575204015311-0fe377370780?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
                                         alt="...">
                                    <img src="https://images.unsplash.com/photo-1560981350-6d729c4e7fa3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                                         alt="...">
                                    <img src="https://canadia.ie/site/assets/files/2649/9045_larissa_oak_decor.jpg" alt="...">
                                </div>
                            </div>
                            <a href="" class="card-title heading-4 stretched-link black text-decoration-none mt-2">
                                Board Name
                                #1
                            </a>
                            <p class="card-text">3 Products</p>
                        </div>
                    </div>
                </div>
                <div class="product-board-card col-12 col-md-6 col-lg-4 ">
                    <div class="card border-0">
                        <div class="card-body pl-0">
                            <div class="image-grid-wrapper">
                                <div class="image-grid">
                                    <img src="https://images.unsplash.com/photo-1541233349642-6e425fe6190e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                         alt="...">
                                    <img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                         alt="...">
                                    <img src="https://images.homedepot-static.com/productImages/0de025d3-b6a7-415f-b3fd-d58d69a6cd9e/svn/vintage-chic-marazzi-porcelain-tile-ulrw624hd1pr-64_1000.jpg"
                                         alt="...">
                                    <img src="https://embed.widencdn.net/img/shawfloors/ifcmlgmddh/1024px/V0836_00166_CROP.jpg"
                                         alt="...">
                                    <img src="https://s3-production.bobvila.com/articles/wp-content/uploads/2018/03/wood-floors.jpg"
                                         alt="...">
                                    <img src="" alt="">
                                    <img src="" alt="">
                                    <img src="" alt="">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <a href="" class="card-title heading-4 stretched-link black text-decoration-none mt-2">
                                Board Name
                                #1
                            </a>
                            <p class="card-text">3 Products</p>
                        </div>
                    </div>
                </div>
                <div class="product-board-card col-12 col-md-6 col-lg-4 ">
                    <div class="card border-0">
                        <div class="card-body pl-0">
                            <div class="image-grid-wrapper">
                                <div class="image-grid">
                                    <img src="https://images.unsplash.com/photo-1541233349642-6e425fe6190e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                         alt="...">
                                    <img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                         alt="...">
                                    <img src="https://images.homedepot-static.com/productImages/0de025d3-b6a7-415f-b3fd-d58d69a6cd9e/svn/vintage-chic-marazzi-porcelain-tile-ulrw624hd1pr-64_1000.jpg"
                                         alt="...">
                                    <img src="https://embed.widencdn.net/img/shawfloors/ifcmlgmddh/1024px/V0836_00166_CROP.jpg"
                                         alt="...">
                                    <img src="https://s3-production.bobvila.com/articles/wp-content/uploads/2018/03/wood-floors.jpg"
                                         alt="...">
                                    <img src="https://images.unsplash.com/photo-1547044479-59ce6c0a784a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                         alt="...">
                                    <img src="https://images.unsplash.com/photo-1575204015311-0fe377370780?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
                                         alt="...">
                                    <img src="https://images.unsplash.com/photo-1560981350-6d729c4e7fa3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                                         alt="...">
                                    <img src="https://canadia.ie/site/assets/files/2649/9045_larissa_oak_decor.jpg" alt="...">
                                </div>
                            </div>
                            <a href="" class="card-title heading-4 stretched-link black text-decoration-none mt-2">
                                Board Name
                                #1
                            </a>
                            <p class="card-text">3 Products</p>
                        </div>
                    </div>
                </div>
                <div class="product-board-card col-12 col-md-6 col-lg-4 ">
                    <div class="card border-0">
                        <div class="card-body pl-0">
                            <div class="image-grid-wrapper">
                                <div class="image-grid">
                                    <img src="https://images.unsplash.com/photo-1541233349642-6e425fe6190e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                         alt="...">
                                    <img src="https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                         alt="...">
                                    <img src="https://images.homedepot-static.com/productImages/0de025d3-b6a7-415f-b3fd-d58d69a6cd9e/svn/vintage-chic-marazzi-porcelain-tile-ulrw624hd1pr-64_1000.jpg"
                                         alt="...">
                                    <img src="https://embed.widencdn.net/img/shawfloors/ifcmlgmddh/1024px/V0836_00166_CROP.jpg"
                                         alt="...">
                                    <img src="https://s3-production.bobvila.com/articles/wp-content/uploads/2018/03/wood-floors.jpg"
                                         alt="...">
                                    <img src="https://images.unsplash.com/photo-1547044479-59ce6c0a784a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                         alt="...">
                                    <img src="https://images.unsplash.com/photo-1575204015311-0fe377370780?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
                                         alt="...">
                                    <img src="" alt="">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <a href="" class="card-title heading-4 stretched-link black text-decoration-none mt-2">
                                Board Name
                                #1
                            </a>
                            <p class="card-text">3 Products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>