@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="primary blog-tag-page">
    <!-- Intro Section: Start-->
    <section class="container title-section mb-3 mb-md-5">
        <div class="row mb-4">
            <div class="col-12">
                <p class="subtitle red-regular text-center">Article by tag</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class=" title text-center">Hospitality</h1>
            </div>
        </div>
    </section>
    <!-- Intro Section: Start-->
    <!-- Blog Section: Start -->
    <section class="blogs-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <div class="blog-item">
                        <a href="#">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-12 remove-rp ">
                                    <div class="image-wrapper">
                                        <img src="./images/Image 10@2x.png" class="img-responsive" alt="" title="">
                                        <div class="overleay"> </div>
                                        <div class="content">
                                            <h3 class="heading-3">Read</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 col-sm-12 remove-lp">
                                    <div class="information-wrapper">
                                        <h3 class="sub-title my-4">Sub title</h3>
                                        <h2 class="title my-4">Seeking the horizon</h2>
                                        <p class="description">
                                            That starting point of elusive, natural beauty is the inspiration behind
                                            the
                                            new custom collection Mist
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-item">
                        <a href="#">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-12 remove-rp ">
                                    <div class="image-wrapper">
                                        <img src="./images/Image 10@2x.png" class="img-responsive" alt="" title="">
                                        <div class="overleay"> </div>
                                        <div class="content">
                                            <h3 class="heading-3">Read</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 col-sm-12 remove-lp">
                                    <div class="information-wrapper">
                                        <h3 class="sub-title my-4">Sub title</h3>
                                        <h2 class="title my-4">Seeking the horizon</h2>
                                        <p class="description">
                                            That starting point of elusive, natural beauty is the inspiration behind
                                            the
                                            new custom collection Mist
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-item">
                        <a href="#">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-12 remove-rp ">
                                    <div class="image-wrapper">
                                        <img src="./images/Image 10@2x.png" class="img-responsive" alt="" title="">
                                        <div class="overleay"> </div>
                                        <div class="content">
                                            <h3 class="heading-3">Read</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 col-sm-12 remove-lp">
                                    <div class="information-wrapper">
                                        <h3 class="sub-title my-4">Sub title</h3>
                                        <h2 class="title my-4">Seeking the horizon</h2>
                                        <p class="description">
                                            That starting point of elusive, natural beauty is the inspiration behind
                                            the
                                            new custom collection Mist
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-item">
                        <a href="#">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-12 remove-rp ">
                                    <div class="image-wrapper">
                                        <img src="./images/Image 10@2x.png" class="img-responsive" alt="" title="">
                                        <div class="overleay"> </div>
                                        <div class="content">
                                            <h3 class="heading-3">Read</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 col-sm-12 remove-lp">
                                    <div class="information-wrapper">
                                        <h3 class="sub-title my-4">Sub title</h3>
                                        <h2 class="title my-4">Seeking the horizon</h2>
                                        <p class="description">
                                            That starting point of elusive, natural beauty is the inspiration behind
                                            the
                                            new custom collection Mist
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-lg-2 col-sm-12">
                    <button class="btn btn-tertiary my-5">Load All</button>
                </div>
            </div>

        </div>
    </section>
    <!-- Blog Section: End -->
    <!--Hospitality CTA Setion: Start-->
    <section class="widget cta-block now-viewable m-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <h2 class="title">Hospitality CTA</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <p class="description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolor harum
                        quidem deleniti itaque. Fuga, a. Fuga necessitatibus culpa sed deserunt aliquid repudiandae saepe
                        similique, facere corporis, natus inventore! Officia.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <a class="cta-link" href="#">Contact us</a>
                </div>
            </div>
        </div>
        <div class="color-bar"><span></span></div>
    </section>
    <!--Hospitality CTA Setion: End-->
</main>
