@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="primary pb-0">

    <article class="line-height-large my-4">
        <section class="container title-section mb-3 mb-md-5">
            <div class="row">
                <div class="col-sm-8 red-regular offset-sm-2 text-center">
                    <p class="subtitle">ARTICLE sub title</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <h1 class="title heading-1">Seeking The Horizon</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                </div>
            </div>
        </section>

        <section class="container mb-3 mb-md-5 article-full-width-image d-flex justify-content-center">
            <img src="./images/Image_11.png" alt="..." class="img-fluid">
        </section>

        <section class="container mb-3 mb-md-5 article-text">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <p class="text-large">
                        木漏れ日 木 means tree (or trees), 漏 refers to leaking or coming through and 日 is light or sun, together they
                        make
                        up the beautiful yet untranslatable Japanese word komorebi–meaning the sunshine filtering through the
                        leaves
                        of trees. The closest English equivalent is probably dappled sunlight, but it hardly does justice to the
                        poetry contained in the original. That starting point of elusive, natural beauty is the inspiration behind
                        the
                        new custom collection Mist.
                    </p>
                </div>
            </div>
        </section>

        <section class="container mb-3 mb-md-5 article-left-image">
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <img src="./images/Image 12@2x.png" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-lg-7">
                    <p>
                        The floor as a canvas is not a new concept but with Mist, a stunning collaboration between Shaw and
                        award-winning, multi-disciplinary studio Republic of II by IV, the floor beneath your feet truly becomes a
                        work of art. Capturing all the visual poetry of Komorebi, the designers have used the fluid brush strokes
                        and
                        gossamer fine lines of Japanese landscape painting, delicately balanced with light and shadow, and a
                        subtle
                        palette that captures the soft hues of sunset and sunrise.
                    </p>
                </div>
            </div>
        </section>

        <section class="container mb-3 mb-md-5 article-text">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <p class="text-large">
                        “The design team really focused on how to capture these beautiful fleeting moments in nature–mist,
                        shadows, clouds, and sunlight radiating through foliage–turning them into watercolour-like visuals both
                        dreamlike yet powerful in their representation.” - Republic of II BY IV Mist captures the ethereal
                        transience of dawn and dusk in a painterly collection designed to evoke a transient mood, an encounter
                        with nature that leaves you filled with optimism, calm, yet poised for new adventures. Interior designers
                        have always drawn from nature but now more than ever, we all long for moments of repose. We seek beauty as
                        inspiration and draw comfort from the natural world as an antidote to our busy lives. Academics in the
                        Netherlands have published research that shows even looking at images of nature can lower the blood
                        pressure and induce a state of relaxation. Art in all its forms has always inspired the human response to
                        the world around us. Mist brings art and nature together in a series of gently captured, perfect moments
                        that draw on our affinity for light.
                    </p>
                </div>
            </div>
        </section>

        <section class="container mb-3 mb-md-5 article-right-image">
            <div class="row align-items-center">
                <div class="col-12 col-lg-7">
                    <p>
                        Mist transforms the experience of space in subtle, nuanced ways bringing moments of calm to busy entrance
                        ways, elevating hallways with elegant, understated luxury and providing statement rugs that capture the
                        imagination with a translucent beauty. The designers have struck a delicate balance that compels us to
                        linger, to take stock, to be present.
                    </p>
                </div>
                <div class="col-12 col-lg-5">
                    <img src="./images/Image 13@2x.png" alt="" class="img-fluid">
                </div>
            </div>
        </section>

        <section class="container mb-3 mb-md-5 article-text">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <p class="text-large">
                        “Every space we design for is unique, the Mist collection offers an original artful perspective that lets
                        the imagination roam free. Clients will be inspired by the ethereal, organic, designs to create nature
                        influenced custom spaces that are filled with beauty.” - Omoleye Simmons, Senior Designer, Lifestyle
                        Studio, Shaw Contract
                    </p>
                </div>
            </div>
        </section>

        <section class="container article-tags mb-3 mb-md-5">
            <div class="row">
                <div class="col justify-content-center d-flex flex-wrap">
                    <button class="btn btn-tertiary m-3 px-4">
                        new collection
                    </button>
                    <button class="btn btn-tertiary m-3 px-4">
                        designer
                    </button>
                    <button class="btn btn-tertiary m-3 px-4">
                        hospitality
                    </button>
                </div>
            </div>
        </section>

        <section class="container article-date border-top">
            <p class="text-muted">
                December 27, 2019
            </p>
        </section>
    </article>

    <section class="widget cta-block mb-0">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <h2 class="title">Expanding Horizons</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <p class="description">
                        Together, the Shaw Contract and REPUBLIC OF II BY IV teams designed a collection that creates an
                        atmosphere of quiet discovery.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <a class="cta-link" href="#">Explore Shapes</a>
                </div>
            </div>

        </div>
        <div class="color-bar"><span></span></div>
    </section>

</main>
