<appSettings>
  <add key="PDMSApiUrl" value="https://specifications.shawinc.com/api/v1/Specifications" />
  <add key="PDMSUid" value="EB6350A2-B240-40A2-810F-F6FA361C367D" />

  <!--AWS S3 Settings-->
  <add key="CMSExternalStorageName" value="amazon" />
  <add key="CMSAmazonBucketName"  value="shawcontractmvcsite" />
  <add key="CMSAmazonAccessKeyID" value="AKIAXXLMYRUPEEUYEFIN" />
  <add key="CMSAmazonAccessKey" value="naizTPn7xinNMcpV5g9ulLrhxlHzIObxJA9gsf8h" />
</appSettings>
