.widget {
    &.feature-list {

        .title {
            margin: 0 0 3.4rem 0;
        }  

        .feature-card {
            margin: 1rem 0 3rem 0;

            i[class^='fa-'], i[class*=' fa-'] {
                font-size: 3rem;
                margin: 0 0 1rem 0;
            }

            .heading {
                color: $blue-regular;
                font-size: 2.1rem;
                font-weight: $medium;
            }

            .description {
                color: $black;
                font-size: 1.6rem;
                font-weight: $regular;
                margin: 0;            
            }            
        }

    }
}