<div class="modal fade text-size-normal" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-4 p-md-5">
            <form class="needs-validation" novalidate>
                <div class="modal-header mb-4">
                    <h2 class="modal-title" id="languageLabel">Select Your Region</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body mb-4 mb-md-5">
                    <div class="region mb-5">
                        <header>
                            <h4 class="heading-4 ">North America</h4>
                        </header>
                        <ul class="list-group list-unstyled">
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">United States (en-us)</a></li>
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Canada (en-ca)</a></li>
                        </ul>
                    </div>
                    <div class="region mb-5">
                        <header>
                            <h4 class="heading-4 ">Europe</h4>
                        </header>
                        <ul class="list-group list-unstyled">
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Region 2 Name (en-us)</a></li>
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Region 2 Name (en-us)</a></li>
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Region 2 Name (en-us)</a></li>
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Region 2 Name (en-us)</a></li>
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Region 2 Name (en-us)</a></li>
                        </ul>
                    </div>
                    <div class="region mb-5">
                        <header>
                            <h4 class="heading-4 ">Asia Pacific</h4>
                        </header>
                        <ul class="list-group list-unstyled">
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Region 3 Name (en-us)</a></li>
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Region 3 Name (en-us)</a></li>
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Region 3 Name (en-us)</a></li>
                            <li class="py-2"><a href="#" role="button" aria-pressed="false">Region 3 Name (en-us)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-6 col-md-3">
                        <button type="button" class="btn btn-tertiary btn-block text-size-normal"
                                data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
