@using Microsoft.Owin.Security
@if (Request.IsAuthenticated == false)
{
    /**/
    @* Gets a collection of the authentication services registered in your application's startup class *@
    /**/

    var authServices = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    @* Generates a form with buttons targeting the RequestSignIn action. Optionally pass a redirect URL as a parameter. *@
    using (Html.BeginForm("RequestSignIn", "Account", FormMethod.Post, new { @class = "w-100" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-sm-12">
            @foreach (AuthenticationDescription p in authServices)
            {

                <button class="btn btn-login" type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">SIGN IN</button>

            }
        </div>
    }
}

@if (Request.IsAuthenticated)
{
    <div class="col-sm-12">
        <a id="profile-link">Hi @CMS.Membership.MembershipContext.AuthenticatedUser.FirstName </a>
    </div>
}