@{
    ViewBag.Title = "Products";
}

<div style="margin-top: 6em">
    <h2>Products</h2>

    <h1> Here is the products page</h1>

    <h3> It is still under construction. Please be Patient</h3>
</div>