@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="primary blog-list-page">
    <!-- Section 1: Start -->
    <section class="widget dancing-squares now-viewable">
        <div class="container">
            <div class="col-sm-12 text-right">
                <div class="content-box">

                    <div class="img-box">
                        <img class="dance-img mt-5" src="./images/image 9.png" alt="description" />
                        <p class="photo-credits">Photo credits go here.</p>
                    </div>

                    <div class="card info-card text-left">
                        <div class="card-body">
                            <div class="mark"></div>
                            <h5 class="card-title">A New Concept</h5>
                            <p class="card-text">
                                Inside Shapes is a new concept in flooring. We live in times where freedom of
                                choice and expression have never been more valued.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="dancing-boxes">
            <div class="relative-wrapper">
                <div class="dancing-box dance-box-1"></div>
                <div class="dancing-box dance-box-2"></div>
                <div class="dancing-box dance-box-3"></div>
                <div class="dancing-box dance-box-4"></div>
            </div>
        </div>
    </section>
    <!-- Section 1: End -->
    <!-- Filter Section: Start -->
    <section class="filter-wrapper">
        <span>I am a</span>
        <select class="personas-dropdown">
            <option class="dropdown-option" value="Designer">Designer</option>
            <option class="dropdown-option" value="Developer">Developer</option>
            <option class="dropdown-option" value="BA">BA</option>
            <option class="dropdown-option" value="Manager">Manager</option>
        </select>
        <span>looking to</span>
        <select class="segment-dropdown">
            <option class="dropdown-option" value="insipred">be insipred!</option>
            <option class="dropdown-option" value="...">be ...</option>
            <option class="dropdown-option" value="...">be ...</option>
        </select>
        <button class="btn filter-btn">show me</button>
    </section>
    <!--  Filter Section: End -->
    <!-- Blog Section: Start -->
    <section class="blogs-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <div class="blog-item">
                        <a href="#">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-12 remove-rp ">
                                    <div class="image-wrapper">
                                        <img src="./images/Image 10@2x.png" class="img-responsive" alt="" title="">
                                        <div class="overleay"> </div>
                                        <div class="content">
                                            <h3 class="heading-3">Read</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 col-sm-12 remove-lp">
                                    <div class="information-wrapper">
                                        <h3 class="sub-title my-4">Sub title</h3>
                                        <h2 class="title my-4">Seeking the horizon</h2>
                                        <p class="description">
                                            That starting point of elusive, natural beauty is the inspiration behind the
                                            new custom collection Mist
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-item">
                        <a href="#">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-12 remove-rp ">
                                    <div class="image-wrapper">
                                        <img src="./images/Image 10@2x.png" class="img-responsive" alt="" title="">
                                        <div class="overleay"> </div>
                                        <div class="content">
                                            <h3 class="heading-3">Read</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 col-sm-12 remove-lp">
                                    <div class="information-wrapper">
                                        <h3 class="sub-title my-4">Sub title</h3>
                                        <h2 class="title my-4">Seeking the horizon</h2>
                                        <p class="description">
                                            That starting point of elusive, natural beauty is the inspiration behind the
                                            new custom collection Mist
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-item">
                        <a href="#">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-12 remove-rp ">
                                    <div class="image-wrapper">
                                        <img src="./images/Image 10@2x.png" class="img-responsive" alt="" title="">
                                        <div class="overleay"> </div>
                                        <div class="content">
                                            <h3 class="heading-3">Read</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 col-sm-12 remove-lp">
                                    <div class="information-wrapper">
                                        <h3 class="sub-title my-4">Sub title</h3>
                                        <h2 class="title my-4">Seeking the horizon</h2>
                                        <p class="description">
                                            That starting point of elusive, natural beauty is the inspiration behind the
                                            new custom collection Mist
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-item">
                        <a href="#">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-12 remove-rp ">
                                    <div class="image-wrapper">
                                        <img src="./images/Image 10@2x.png" class="img-responsive" alt="" title="">
                                        <div class="overleay"> </div>
                                        <div class="content">
                                            <h3 class="heading-3">Read</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 col-sm-12 remove-lp">
                                    <div class="information-wrapper">
                                        <h3 class="sub-title my-4">Sub title</h3>
                                        <h2 class="title my-4">Seeking the horizon</h2>
                                        <p class="description">
                                            That starting point of elusive, natural beauty is the inspiration behind the
                                            new custom collection Mist
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-2 col-sm-12">
                    <button class="btn btn-tertiary my-5">Load All</button>
                </div>
            </div>

        </div>
    </section>
    <!-- Blog Section: End -->



</main>


