@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@section Styles {
    @Html.Kentico().PageBuilderStyles()
}

<main role="main" class="primary flex-shrink-0">

    <div class="kn-system-messages"></div>
    @Html.Kentico().EditableArea("top")
</main>

@section Scripts {
    @Html.Kentico().PageBuilderScripts()
}