<connectionStrings>
  <clear />
  <add name="CMSConnectionString" connectionString="Data Source=saue1scwsdrds1.c5amvvt8azeq.us-east-1.rds.amazonaws.com;Initial Catalog=shawcontract;Integrated Security=False;User Id=egobrie;Password=Emad@Shaw123;Persist Security Info=False;Connect Timeout=60;Encrypt=False;Current Language=English;" />
</connectionStrings>
