<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.13.0" targetFramework="net461" />
  <package id="AutoMapper" version="9.0.0" targetFramework="net47" />
  <package id="AWSSDK.Core" version="3.3.104.13" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.110.9" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="5.0.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net47" />
  <package id="Facebook" version="7.0.6" targetFramework="net461" />
  <package id="FakeItEasy" version="5.5.0" targetFramework="net47" />
  <package id="GlobalLink.Connect" version="4.18.5" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net461" />
  <package id="Kentico.Libraries" version="12.0.52" targetFramework="net461" />
  <package id="linqtotwitter" version="5.0.0" targetFramework="net461" />
  <package id="MaxMind.Db" version="2.6.1" targetFramework="net461" />
  <package id="MaxMind.GeoIP2" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.4" targetFramework="net461" />
  <package id="Microsoft.Azure.Search" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Common" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Data" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Service" version="10.1.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net461" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.19515.12000" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="7.6.2" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.11.1" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net47" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net461" />
  <package id="PayPal" version="1.9.1" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net47" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net47" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net47" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net47" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net47" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net47" />
  <package id="System.Data.HashFunction.CRC" version="2.0.0" targetFramework="net47" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="4.3.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net47" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net461" />
</packages>