@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="primary flex-shrink-0 checkout">
    <section class="container">
        <div class="title-section">
            <div class="mark"></div>
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <h1 class="title heading-1">Checkout</h1>
                </div>
            </div>
        </div>
        <div class="checkout-tabs-wrapper border-bottom">
            <ul class="list-group list-group-horizontal-md flex-fill d-flex justify-content-around align-items-center">
                <li class="list-group-item border-0 heading-3 is-active">Shipping Address</li>
                <li class="list-group-item border-0 heading-3">Additional Details</li>
                <li class="list-group-item border-0 heading-3">Finalize & Submit</li>
            </ul>
        </div>

        <section class="form-wrapper col-12 col-md-10 col-lg-8 mx-auto px-3 pt-5">
            <form class="needs-validation" role="form" novalidate>
                <div class="form-group pt-5">
                    <div class="row">
                        <div class="col">
                            <h4>
                                <label for="existing-shipping-address" class="font-weight-bold heading-4">
                                    Select an existing shipping
                                    address:
                                </label>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="selectWrapper">
                                <select id="existing-shipping-address" class="shaw-select custom-select form-control-lg" required aria-required="true">
                                    <option value="" selected disabled>Select address</option>
                                    <option value="Address 1">Address 1</option>
                                </select>
                                <strong class="invalid-feedback"><span>Please select a shipping address.</span></strong>
                            </div>
                        </div>
                        <div class="col flex-grow-0">
                            <button type="submit" class="btn btn-primary px-5 continue-btn">Continue</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row my-5 justify-content-center">
                <div class="col-12 col-md-9">
                    <h2 class="line-with-text heading-4 text-muted regular border-bottom">
                        <span>
                            OR
                        </span>
                    </h2>
                </div>
            </div>
            <form role="form" id="new-address-form">
                <div class="row my-5">
                    <div class="col-12 col-md-7">
                        <h4 class="font-weight-bold heading-4">Add a new shipping address:</h4>
                    </div>
                    <div class="col-12 col-md-5">
                        <span class="float-md-right"><span class="text-danger">*</span> = Required Fields</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                            <label for="first-name">First name<span class="text-danger"> *</span></label>
                            <input type="text" name="firstName" class="form-control form-control-lg">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="last-name">Last name<span class="text-danger"> *</span></label>
                            <input type="text" name="lastName" class="form-control form-control-lg">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-7 mb-3 mb-md-0">
                            <label for="company-field">Company<span class="text-danger"> *</span></label>
                            <input type="text" name="company" class="form-control form-control-lg">
                            <strong class="invalid-feedback"><span>Please verify this field.</span></strong>
                        </div>
                        <div class="col-12 col-md-5">
                            <label for="cell-field">
                                Cell / SMS Alert Number<span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input type="text" name="phoneNumber" data-parsley-type='number' class="form-control form-control-lg" id="cell-field">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-7 mb-3 mb-md-0">
                            <label for="country-field">Country<span class="text-danger"> *</span></label>
                            <div class="selectWrapper">
                                <select id="inputState" class="shaw-select custom-select form-control-lg" name="country">
                                    <option value="" selected disabled>Select country</option>
                                    <option value="Bulgaria">Bulgaria</option>
                                    <option value="Bulgaria">France</option>
                                </select>
                            </div>
                            <strong class="invalid-feedback"><span>Please verify this field.</span></strong>
                        </div>
                        <div class="col-12 col-md-5">
                            <label for="zip-field">Zip / Postal Code<span class="text-danger"> *</span></label>
                            <input type="text" name="zipCode" class="form-control form-control-lg">
                            <strong class="invalid-feedback"><span>Please verify this field.</span></strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address-line-1">Address Line 1<span class="text-danger"> *</span></label>
                    <input type="text" name="addressLineOne" class="form-control form-control-lg">
                    <strong class="invalid-feedback"><span>Please verify this field.</span></strong>
                </div>
                <div class="form-group">
                    <label for="address-line-2">Address Line 2</label>
                    <input type="text" class="form-control form-control-lg" id="address-line-2">
                    <strong class="invalid-feedback"><span>Please verify this field.</span></strong>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-7 mb-3 mb-md-0">
                            <label for="city-field">City<span class="text-danger"> *</span></label>
                            <input type="text" name="city" class="form-control form-control-lg">
                            <strong class="invalid-feedback"><span>Please verify this field.</span></strong>
                        </div>
                        <div class="col-12 col-md-5">
                            <label for="state-field">State / Province<span class="text-danger"> *</span></label>
                            <div class="selectWrapper">
                                <select id="state-field" name="state" class="shaw-select custom-select form-control-lg">
                                    <option value="" selected disabled>Choose state</option>
                                    <option value="state 1">State 1</option>
                                </select>
                            </div>
                            <strong class="invalid-feedback"><span>Please verify this field.</span></strong>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mt-6">
                    <div class="col-6 col-md-5">
                        <button class="btn btn-tertiary letter-spacing-normal w-100 h-100 px-md-5 py-4">Back to Products</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary letter-spacing-normal w-100 h-100 py-4">
                            Add New Address & Continue
                        </button>
                    </div>
                </div>
            </form>
        </section>

    </section>
</main>