<connectionStrings>
  <clear />
  <add name="CMSConnectionString" connectionString="Data Source=rmtest.c5amvvt8azeq.us-east-1.rds.amazonaws.com;Initial Catalog=kptest;Integrated Security=False;User Id=kptestu;Password=kptestp55;Persist Security Info=False;Connect Timeout=60;Encrypt=False;Current Language=English;" />
</connectionStrings>