<connectionStrings>

    <add name="CMSConnectionString" connectionString="Data Source=saue1scwsdrds1.c5amvvt8azeq.us-east-1.rds.amazonaws.com;Initial Catalog=shawcontract;Integrated Security=False;User Id=USERNAME;Password=PASSWORD;Persist Security Info=False;Connect Timeout=60;Encrypt=False;Current Language=English;" />
    <add name="MyRedisConnectionString" connectionString="localhost:6379,password=P@ssw0rd,ssl=False,abortConnect=False" />
    <add name="ProductBoardsConnection" connectionString="Data Source=saue1scwsdrds1.c5amvvt8azeq.us-east-1.rds.amazonaws.com;Initial Catalog=shawproductboard;Integrated Security=False;User Id=USERNAME;Password=PASSWORD;Persist Security Info=False;Connect Timeout=60;Encrypt=False;Current Language=English;" providerName="System.Data.SqlClient" />
  
</connectionStrings>
