<appSettings>
  <add key="KontentProjectId" value="1de26f59-f305-0033-7815-a4a479442a3f" />
  <add key="KontentApiKey" value="ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9.ew0KICAianRpIjogImZkNTI0ZTdjZmUwMDQwZTliNGU1Yzc5N2QzZmEwNjZiIiwNCiAgImlhdCI6ICIxNTc0NDAxMzIxIiwNCiAgImV4cCI6ICIxOTIwMDAxMzIxIiwNCiAgInByb2plY3RfaWQiOiAiMWRlMjZmNTlmMzA1MDAzMzc4MTVhNGE0Nzk0NDJhM2YiLA0KICAidmVyIjogIjEuMC4wIiwNCiAgImF1ZCI6ICJkZWxpdmVyLmtlbnRpY29jbG91ZC5jb20iDQp9.3qmZWiuQ8E57xu5FT_ExMhMIj6FwT4rEavxWtmH0Vx4" />
  <add key="KontentApiUrl" value="https://deliver.kenticocloud.com" />
  <add key="UseCaching" value="false" />
  <add key="CachingTimeoutMinutes" value="5" />
  <add key="CMSApplicationGuid" value="8bfefbd5-5b49-48e0-a22f-06ea919200d7" />
  <add key="CMSApplicationName" value="Default Web Site/ShawContract" />
  <add key="CMSHashStringSalt" value="ea600eb3-27a0-49e1-a2d7-d489094437e6" />
  <add key="CMSCIRepositoryPath" value="C:\inetpub\wwwroot\ShawContract\CMS\App_Data\CIRepository" />

  <!--Azure AD B2C Settings-->
  <add key="ida:Tenant" value="shawincb2c.onmicrosoft.com" />
  <add key="ida:ClientId" value="e7f9a6e2-5e5c-4fb0-9121-8ca3fef6f758" />
  <add key="ida:AadInstance" value="https://login.microsoftonline.com/{0}/v2.0/.well-known/openid-configuration?p={1}" />
  <add key="ida:SignInPolicyId" value="B2C_1_shawcontract" />
  <add key="ida:ResetPasswordPolicyId" value="B2C_1_shawcontract_password_reset" />
  <add key="ida:RedirectUri" value="https://localhost:44380/" />

  <!--AWS S3 Settings-->
  <add key="CMSExternalStorageName" value="amazon" />
  <add key="CMSAmazonBucketName"  value="shawcontractmvcsite" />
  <add key="CMSAmazonAccessKeyID" value="AKIAXXLMYRUPEEUYEFIN" />
  <add key="CMSAmazonAccessKey" value="naizTPn7xinNMcpV5g9ulLrhxlHzIObxJA9gsf8h" />

  <!--AWS CloudFront Settings-->
  <add key="CMSAmazonPublicAccess" value="true" />
  <add key="CMSAmazonEndPoint" value="d39e39f0igutdi.cloudfront.net" />

  <!--Twilio settings-->
  <add key="TwilioAccountSID" value="AC0cee4738a8607141331f75a6e7595ca0" />
  <add key="TwilioAuthToken" value="4c9347fbf38bb35b94c37269a7ae1978" />
  <add key="TwilioPhone" value="+17065086422" />
  <add key="CustomerSupportNumber" value="18002577429"/>

  <!--Email settings-->
  <add key="Host" value="mail.shawinc.com"/>
  <add key="Contactus_EmailRecipient" value="shawcontract@shawinc.com"/>
  <add key="Contactus_EmailSubject" value="New Contact Us email from ShawContract"/>
  <add key="Contactus_EmailBody" value=" {0} {1} has submitted a contact form,
primary job - {2} ,
assistance needed - {3}
and description - {4}."/>
</appSettings>
