<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StockCheckWSServiceSoapBinding" />
                <binding name="ProductWSv2ServiceSoapBinding" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrderSample">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sw72cseapdv.shaw.shawinc.com:8080/CSWS/ProductWSv2"
                binding="basicHttpBinding" bindingConfiguration="ProductWSv2ServiceSoapBinding"
                contract="ProductService.ProductWSv2" name="ProductWSv2Port" />
            <endpoint address="https://webservices-qa.shawonline.com/SampleOrderService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderSample"
                contract="ExecuteOrdersWS.IOrderSample" name="WSHttpBinding_IOrderSample">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://sw72cswsprd4.shaw.shawinc.com:8080/CSWS/services/StockCheckWS"
                binding="basicHttpBinding" bindingConfiguration="StockCheckWSServiceSoapBinding"
                contract="StockCheckWS.StockCheckWS" name="StockCheckWS" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
