@using ShawContract.Models
@using ShawContract.Models.Errors

@model PageViewModel<ErrorPageViewModel>

@{
    /**/
    ViewBag.Title = "ServerError";
}

<div class="container" style="margin-top:10em">
    <div class="row">
        <div class="col-lg-1">
            <h2>ServerError</h2>
            <h2>
                @Model.Data.ErrorCode
            </h2>
            <p style="width:50em">
                @Model.Data.ErrorMessage
            </p>
            <p>
                @Model.Data.InnerErrorMessage
            </p>
        </div>
    </div>
</div>